<div>
    <img src="<%=group.icon %>" alt="<%= group.name %> icon" />
    <div>
        <p><%= group.name %></p>
        <p><%= group.updated_at %></p>
    <div>
    <div>
        <p>$ 17.5</p>
    </div>
</div>