<div>

<div>
<% @expenses.each do |expense| %>
    <div> <%=expense.name %></div>
  <% end %>
</div>

    <%= link_to "Add new transaction", new_user_group_expense_path(user_id:current_user.id, group_id:@group.id), class: "add-transaction-btn" %>

</div>